p.two {
    border-style: solid;
    border-width: medium;
    border-radius: 20px;
  }

  h1 {
    color: #B9770E;
  }

  body {
    font-family: Arial;
  }

  * {
    box-sizing: border-box;
  }

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #EC7063;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.example button:hover {
    background: #EC7063;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .form-group div {
    color: red;
    size: 80%
  }

  .hidden {
    display: none;
  }